USE [master]
GO
/****** Object:  Database [Gada]    Script Date: 12/10/2015 21:19:17 ******/
CREATE DATABASE [Gada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gada', FILENAME = N'C:\Users\Rob\Gada.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Gada_log', FILENAME = N'C:\Users\Rob\Gada_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gada]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/10/2015 21:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 12/10/2015 21:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Areas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 12/10/2015 21:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Show] [bit] NOT NULL,
	[CreatedBy_Id] [uniqueidentifier] NOT NULL,
	[Post_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiscussionInterests]    Script Date: 12/10/2015 21:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscussionInterests](
	[Discussion_Id] [uniqueidentifier] NOT NULL,
	[Interest_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.DiscussionInterests] PRIMARY KEY CLUSTERED 
(
	[Discussion_Id] ASC,
	[Interest_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Discussions]    Script Date: 12/10/2015 21:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discussions](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastModifiedOn] [datetime] NULL,
	[ClosedOn] [datetime] NULL,
	[ReceiveUpdates] [bit] NOT NULL,
	[Votes] [int] NOT NULL,
	[Views] [int] NOT NULL,
	[CreatedBy_Id] [uniqueidentifier] NOT NULL,
	[PostCount] [int] NULL,
	[Area_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Discussions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Interests]    Script Date: 12/10/2015 21:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interests](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Interests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/10/2015 21:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PostedOn] [datetime] NOT NULL,
	[Show] [bit] NOT NULL,
	[Votes] [int] NOT NULL,
	[PostedBy_Id] [uniqueidentifier] NOT NULL,
	[Discussion_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/10/2015 21:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Forename] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Areas] ([Id], [Title], [Description], [Icon]) VALUES (N'4412ac73-abc3-405d-a06d-0c518cac4fa6', N'Social & Economic Justice', N'Economic inequality is increasing, human rights are being eroded and xenophobia is on the rise. How can we build a society that is fair, tolerant and safe at the same time?', N'fa-balance-scale')
GO
INSERT [dbo].[Areas] ([Id], [Title], [Description], [Icon]) VALUES (N'89c582c5-f814-4f3c-865c-3239dc5a5534', N'Environment & Climate', N'Ever worried about climate change, food security, pollution or unprecedented wildlife extinction? We are thrashing our planet and don''t know how to change course...but maybe you do', N'fa-leaf')
GO
INSERT [dbo].[Areas] ([Id], [Title], [Description], [Icon]) VALUES (N'cac785c9-5599-4bf7-a394-c1042733b901', N'Democracy & Governance', N'Democracy is in a bad shape. How can we fix it? We welcome ideas to... improve political participation, promote transparency, ensure the fair and balanced representation of all citizens...and fix the broken political system!', N'fa-university')
GO
INSERT [dbo].[DiscussionInterests] ([Discussion_Id], [Interest_Id]) VALUES (N'f3ea320b-666a-4459-a74b-4e0cd46eb12a', N'6cc7b31d-7881-4e8f-9bd6-0cd79a990d68')
GO
INSERT [dbo].[DiscussionInterests] ([Discussion_Id], [Interest_Id]) VALUES (N'50c0039f-3549-4bf9-8651-a3da54fa3436', N'6cc7b31d-7881-4e8f-9bd6-0cd79a990d68')
GO
INSERT [dbo].[DiscussionInterests] ([Discussion_Id], [Interest_Id]) VALUES (N'0b0a278a-bf3f-4c45-9395-e3022ea310fc', N'6cc7b31d-7881-4e8f-9bd6-0cd79a990d68')
GO
INSERT [dbo].[Interests] ([Id], [Title]) VALUES (N'c71fdd16-c087-4285-93ac-00c0d90b44f5', N'Geopolitics and Area studies')
GO
INSERT [dbo].[Interests] ([Id], [Title]) VALUES (N'495c1af5-b80c-49b7-a533-06de61a24007', N'Access to water')
GO
INSERT [dbo].[Interests] ([Id], [Title]) VALUES (N'a0693d35-9a69-44b6-8d01-07259cd34430', N'Enterprise')
GO
INSERT [dbo].[Posts] ([Id], [Content], [PostedOn], [Show], [Votes], [PostedBy_Id], [Discussion_Id]) VALUES (N'12cd9523-c51d-4c43-97ba-181b348780ec', N'<p>Nice explanation of the Gada workflow.</p><br /><p>Thanks!</p>', CAST(N'2015-10-04 15:35:17.150' AS DateTime), 1, 0, N'4e054753-cb63-41fc-8624-55f0e85375a6', N'0b0a278a-bf3f-4c45-9395-e3022ea310fc')
GO
INSERT [dbo].[Posts] ([Id], [Content], [PostedOn], [Show], [Votes], [PostedBy_Id], [Discussion_Id]) VALUES (N'2f484945-cc48-416a-adad-262e10224186', N'<p>Sounds simple! I''ll put my first discussion up now!</p>', CAST(N'2015-10-04 15:35:17.150' AS DateTime), 1, 0, N'ff769d45-ab42-4332-ad89-7d3f6d42d094', N'0b0a278a-bf3f-4c45-9395-e3022ea310fc')
GO
INSERT [dbo].[Posts] ([Id], [Content], [PostedOn], [Show], [Votes], [PostedBy_Id], [Discussion_Id]) VALUES (N'09f52a21-9265-4773-b782-8f017e783056', N'<p>Great! I''ll get all my friends to sign up rigt away!</p>', CAST(N'2015-10-04 15:35:17.150' AS DateTime), 1, 0, N'4e054753-cb63-41fc-8624-55f0e85375a6', N'f3ea320b-666a-4459-a74b-4e0cd46eb12a')
GO
INSERT [dbo].[Users] ([Id], [Username], [Forename], [Surname], [Email], [City], [Country]) VALUES (N'4e054753-cb63-41fc-8624-55f0e85375a6', N'scoulton89@hotmail.com', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [Username], [Forename], [Surname], [Email], [City], [Country]) VALUES (N'c7fcb3d8-bd29-48b6-9431-701c7f38fba0', N'mattia.fosci@gmail.com', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [Username], [Forename], [Surname], [Email], [City], [Country]) VALUES (N'ff769d45-ab42-4332-ad89-7d3f6d42d094', N'rob.allsopp@hotmail.co.uk', NULL, NULL, NULL, NULL, NULL)
GO
/****** Object:  Index [IX_CreatedBy_Id]    Script Date: 12/10/2015 21:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[Comments]
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Post_Id]    Script Date: 12/10/2015 21:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_Post_Id] ON [dbo].[Comments]
(
	[Post_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Discussion_Id]    Script Date: 12/10/2015 21:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_Discussion_Id] ON [dbo].[DiscussionInterests]
(
	[Discussion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Interest_Id]    Script Date: 12/10/2015 21:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_Interest_Id] ON [dbo].[DiscussionInterests]
(
	[Interest_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Area_Id]    Script Date: 12/10/2015 21:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_Area_Id] ON [dbo].[Discussions]
(
	[Area_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy_Id]    Script Date: 12/10/2015 21:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[Discussions]
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Discussion_Id]    Script Date: 12/10/2015 21:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_Discussion_Id] ON [dbo].[Posts]
(
	[Discussion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostedBy_Id]    Script Date: 12/10/2015 21:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_PostedBy_Id] ON [dbo].[Posts]
(
	[PostedBy_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Posts_Post_Id] FOREIGN KEY([Post_Id])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Posts_Post_Id]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_CreatedBy_Id]
GO
ALTER TABLE [dbo].[DiscussionInterests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiscussionInterests_dbo.Discussions_Discussion_Id] FOREIGN KEY([Discussion_Id])
REFERENCES [dbo].[Discussions] ([Id])
GO
ALTER TABLE [dbo].[DiscussionInterests] CHECK CONSTRAINT [FK_dbo.DiscussionInterests_dbo.Discussions_Discussion_Id]
GO
ALTER TABLE [dbo].[DiscussionInterests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiscussionInterests_dbo.Interests_Interest_Id] FOREIGN KEY([Interest_Id])
REFERENCES [dbo].[Interests] ([Id])
GO
ALTER TABLE [dbo].[DiscussionInterests] CHECK CONSTRAINT [FK_dbo.DiscussionInterests_dbo.Interests_Interest_Id]
GO
ALTER TABLE [dbo].[Discussions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Discussions_dbo.Areas_Area_Id] FOREIGN KEY([Area_Id])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Discussions] CHECK CONSTRAINT [FK_dbo.Discussions_dbo.Areas_Area_Id]
GO
ALTER TABLE [dbo].[Discussions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Discussions_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Discussions] CHECK CONSTRAINT [FK_dbo.Discussions_dbo.Users_CreatedBy_Id]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Discussions_Discussion_Id] FOREIGN KEY([Discussion_Id])
REFERENCES [dbo].[Discussions] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Discussions_Discussion_Id]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Users_PostedBy_Id] FOREIGN KEY([PostedBy_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Users_PostedBy_Id]
GO
USE [master]
GO
